body {
    background-color: grey;
}


#title, #post_title, #subtitle {
    color:blue;
}


.photo {
    border-radius: 50%;
    border: 15px solid blue;
}


#post_title {
    font-size: 16px;
    font-style: italic;
    margin-botton: 15px;
}


.post {
    background-color: white;
    padding: 15px;
    border: 3px solid black;
    margin-bottom: 15px;
    border-radius: 15px;
}



.post_content {
    margin:0px;
    margin-bottom: 15px;
}


.post_image {
    margin-bottom: 15px;
}