body {
    background-color: grey;
}


#title, #post_title, #subtitle {
    color:blue;
}

#post_title {
    font-size: 16px;
    font-style: italic;
}


.post {
    background-color: white;
    padding: 10px;
    border: 3px solid black;
    margin: 10px;
}